.mainContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* header styles */
.header {
  font-family: var(--header-text);
  font-size: var(--header-text-size);
  color: var(--text-colour);
  margin: 4rem 16rem 2rem 16rem;
  text-align: left;
}

@media (max-width: 1000px) {
  .header {
    font-size: var(--header-text-size-handheld);
    margin: 4rem 4rem;
  }
}

@media (max-width: 750px) {
  .header {
    margin: 2rem 4rem;
  }
}

@media (max-width: 500px) {
  .header {
    margin: 2rem 1rem;
  }
}

@media (max-width: 300px) {
  .header {
    font-size: 2.25rem;
  }
}

.headerColour {
  background-image: var(--main-underline);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 90%;
}

/* Subheader styles */
.subheader {
  font-size: var(--body-text-size);
  font-family: var(--body-text);
  color: var(--text-colour);
  text-align: left;
  margin: 0 16rem 2rem 16rem;
}

@media (max-width: 1000px) {
  .subheader {
    font-size: var(--body-text-size-handheld);
    margin: 0 4rem 4rem 4rem;
  }
}

@media (max-width: 750px) {
  .subheader {
    margin: 0 4rem 2rem 4rem;
  }
}

@media (max-width: 500px) {
  .subheader {
    margin: 0 1rem 2rem 1rem;
  }
}

/* Button styles */
.button {
  display: grid;
  place-items: center;
  font-family: var(--body-text);
  font-size: var(--body-text-size);
  height: 4rem;
  width: 8rem;
  background: linear-gradient(#7ADFBB, #A6ECE0);
  border-radius: 25rem;    
  margin: 0 16rem 4rem 16rem;
  padding: 0 2rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .button {
    font-size: var(--body-text-size-handheld);
    margin: 0 0 4rem 4rem;
  }
}

@media (max-width: 750px) {
  .button {
    margin: 0 0 2rem 4rem;
  }
}

@media (max-width: 500px) {
  .button {
    margin: 0 0 2rem 1rem;
  }
}

.link {
  text-decoration: none;
  color: var(--text-colour);
}
