.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

@media (max-width: 1200px) {
  .mainContainer {
    height: fit-content;
    flex-direction: column;
  }
}

/* Header container styles */
.headerContainer {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

@media (max-width: 1200px) {
  .headerContainer {
    width: fit-content;
    margin: 0 12rem
  }
}

@media (max-width: 1000px) {
  .headerContainer {
    margin: 0 6rem;
    padding: 0 0; 
  }
}

@media (max-width: 750px) {
  .headerContainer {
    height: fit-content;
    margin: 0 4rem;
    padding: 0 0; 
  }
}

@media (max-width: 500px) {
  .headerContainer {
    margin: 0 1rem;
    padding: 0 0; 
  }
}

/* Video container styles */
.phoneContainer {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;
}

@media (max-width: 1200px) {
  .phoneContainer {
    width: 50vw;
    margin: 0 12rem
  }
}

@media (max-width: 1000px) {
  .phoneContainer {
    place-self: center;
    height: 40vh;
    width: calc(100% - 12rem);
    margin: 0 0;
    padding: 0 0;
  }
}

@media (max-width: 750px) {
  .phoneContainer {
    place-self: center;
    height: 40vh;
    width: calc(100% - 8rem);
    margin: 0 0;
    padding: 0 0;
  }
}

@media (max-width: 500px) {
  .phoneContainer {
    width: calc(100% - 2rem);
  }
}

/* Header styles */
.header {
  font-family: "Inter";
  font-size: 4rem;
  color: #04080F;
  text-align: center;
  margin-bottom: 2rem;
  text-align: left;
}

@media (max-width: 750px) {
  .header {
    font-size: 3.5rem;
    margin-top: 10rem;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 3rem;
  }
}

.headerColour {
  background-image: linear-gradient(100deg, #7ADFBB 0%, #A6ECE0 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 90%;
  transition: background-size 0.75s ease;
}

.headerColour:hover {
  background-size: 100% 1em;
}

/* Subheader styles */
.subheader {
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  color: #04080F;
  text-align: left;
}

@media (max-width: 750px) {
  .subheader {
    font-size: 1.35rem;
  }
}

@media (max-width: 500px) {
  .subheader {
    font-size: 1.25rem;
  }
}