.navbar {
	font-family: "inter", sans-serif;
	height: 5.25rem;
	width: 100%;
	background-color: white;
	/* border-bottom: 1px solid lightgray; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 20;
}

.brand {
	width: fit-content;
	margin-left: 6rem;
	font-weight: 600;
	cursor: pointer;
	color: #04080F;
	border-bottom: .25rem solid transparent;
	/* Underline hover styles */
	background-image: linear-gradient(100deg, #7ADFBB 0%, #A6ECE0 100%);
	background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
	transition: all .75s ease;
}

@media (max-width: 1000px) {
	.brand {
		margin-left: 4rem;
	}
}

@media (max-width: 500px) {
	.brand {
		margin-left: 1rem;
		font-size: 1.75rem;
	}
}

@media (min-width: 1000px) {
	.brand:hover {
		background-image: linear-gradient(100deg, #7ADFBB 0%, #A6ECE0 100%);	
		background-repeat: no-repeat;
		background-size: 100% 1em;
		background-position: 0 100%;
	}
}

.itemTwo {
	display: flex;
	padding-right: 6rem;
}

.navItem {
	color: #04080F;
	font-family: "inter", sans-serif;
	font-size: 1.25rem;
	cursor: pointer;
}

.navItem:not(:last-child) {
	margin-right: 5rem;
}

.overlayHidden {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
	display: grid;
	place-items: center;
}

.overlay {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	z-index: 5;
	opacity: 1;
	visibility: visible;
	transition: all 1s ease;
	display: grid;
	place-items: center;
	z-index: 25;
}

.overlayContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlayItem {
	font-family: "inter", sans-serif;
	font-size: 3rem;
	color: whitesmoke;
	padding: .5rem 0;
	margin: 0 0;
	cursor: pointer;
	border-bottom: .25rem solid transparent;
	transition: all .75s ease;
}

@media (max-width: 750px) {
	.overlayItem {
		font-size: 1.5rem;
		border-bottom: none;
	}
}

.overlayItem:hover {
	border-bottom: .25rem solid whitesmoke;
}

@media (max-width: 750px) {
	.overlayItem:hover {
		border-bottom: none;
	}
}

.square {
	display: grid;
	place-items: center;
	height: 1.8rem;
	width: 2.5rem;
	margin-right: 6rem;
	cursor: pointer;
  border: solid .2rem transparent;
  position: relative;
  z-index: 15;
}

@media (max-width: 1000px) {
	.square {
		margin-right: 4rem;
	}
}

@media (max-width: 500px) {
	.square {
		margin-right: 1rem;
	}
}

.square span {
  height: .12rem;
	width: 1.8rem;
	background-color: #04080F;
  border-radius: 5%;
  opacity: 1;
  transition: all .75s ease;
  position: relative;
  z-index: 10;
}

.open:nth-child(1) {
  transform: translateY(.6rem) rotate(45deg);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {  
  transform: translateY(-.6rem) rotate(-45deg);
}

.closed:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.closed:nth-child(2) {
  opacity: 1;
}

.closed:nth-child(3) {
  transform: rotate(0) translateY(0);
}