.mainContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* Header styles */
.header {
  width: fit-content;
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  color: #04080F;
  margin: 4rem 16rem 2rem 16rem;
  text-align: left;
} 

@media (max-width: 1000px) {
  .header {
    font-size: 2.75rem;
    margin: 4rem 4rem;
  }
}

@media (max-width: 750px) {
  .header {
    margin: 2rem 4rem;
  }
}

@media (max-width: 500px) {
  .header {
    margin: 2rem 1rem;
  }
}

@media (max-width: 300px) {
  .header {
    font-size: 2.25rem;
  }
}

.headerColour {
  background-image: linear-gradient(100deg, #7ADFBB 0%, #A6ECE0 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 90%;
  transition: background-size 0.75s ease;
}

.section {
  height: fit-content;
  width: 100%;
  display: flex;
  margin-bottom: 2.5rem;
}

@media (max-width: 1000px) {
  .section {
    margin-bottom: 0;
  }
}

@media (max-width: 750px) {
  .section {
    flex-direction: column;
  }
}

.textSection {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.containerWrap {
  /* max-width: 75%; */
  padding: 1rem;
  /* position: relative; */
  background: linear-gradient(#7ADFBB, #A6ECE0);
  padding: 3px;
  margin: 4rem 4rem 2rem 16rem;
  border-radius: .25rem;
}

@media (max-width: 1000px) {
  .containerWrap {
    margin: 0 3rem 0 4rem;
  }
}

@media (max-width: 750px) {
  .containerWrap {
    margin: 0 4rem;
  }
}

@media (max-width: 500px) {
  .containerWrap {
    margin: 0 1rem;
  }
}

.textContainer {
  background: white;
  color: white;
  padding: 1.75rem;
  border-radius: .25rem;
}

.boxHeader {
  font-family: "Merriweather", serif;
  font-size: 1.75rem;
  color: #04080F;
  margin: .5rem 0;
  text-align: left;
}

.boxText {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  margin: .5rem 0;
  color: #04080F;
}

.imageContainer {
  max-width: 300px;
  height: fit-content;
  padding: 1rem;
  padding: 3px;
  margin: 0 16rem 0 0;
  border-radius: .25rem;
}

@media (max-width: 1000px) {
  .imageContainer {
    margin: 2.5rem 4rem;
  }
}

@media (max-width: 750px) {
  .imageContainer {
    margin: 2.5rem 4rem;
  }
}

@media (max-width: 500px) {
  .imageContainer {
    margin: 2.5rem auto;
  }
}

.image {
  width: 75%;
  height: 35rem;
  margin: 0 0;
  /* background-image: url(../public/SA_1.png); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}